* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

main {
  width: 100%;
  max-width: 592px;
  margin: auto;
}

main img {
  margin-bottom: 72px;
}

h1 {
  font-size: 49px;
  font-family: "Inter", sans-serif;
  margin-bottom: 32px;
  font-weight: normal;
}

h1 span {
  color: #ff9900;
  font-weight: bolder;
}

p {
  font-size: 14px;
  line-height: 28px;
  font-weight: normal;
}

p span {
  color: #ff9900;
  font-weight: bolder;
}

#line {
  margin-top: 72px;
  width: 568px;
  height: 0;

  border: 1px solid #eceff2;
}

footer {
  display: flex;
  padding-top: 8px;
  margin-bottom: 33px;
  justify-content: center;
  gap: 28px;
}

a {
  text-decoration: none;
  color: #ff9900;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
}
